/* globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
   background:#fff;
   @apply text-gray-500;
   color: rgba(0, 28, 94, 0.398)
 }
 main {
   @apply w-11/12 mx-auto px-8;
 }
 main > h2 {
   @apply mb-4 pb-2 text-base ;
 }

 /* nav styles */
 nav {
   @apply
     border-b-2 border-gray-200
     h-20
     
 }

 nav a:hover {
   @apply text-black;
 }
 main nav {
   @apply border-0;
 }
 .active {
  color:poirsheba-blue; 
  font-weight: bold;
}
 /* button styles */
 button {
   @apply 
     px-3 py-2 
     rounded-sm 
     flex justify-between items-center gap-2
     text-sm;
 }
 button:hover {
   @apply bg-opacity-90;
 }

 .btn-secondary {
   @apply bg-gray-200 text-gray-900;
 }
 
 /* form styles */

 form label {
   @apply block;
 }
 form input,
 form textarea,
 form select {
   @apply 
     block 
     mt-2 my-4 px-2 py-1 
     rounded-sm w-full;
 }
 form button {
   @apply block mx-auto;
 }
 
 /* feedback styles */
 .error {
   @apply 
     border-2 
     border-red-500 
     bg-red-300
     text-red-800 
     py-1 px-2 
     rounded-sm
     block
     max-w-fit
     my-4 mx-auto;
 }